:root {
    --content-one: "Aimi's Theme";
    --content-two: "D-Don't T-Touch"
}

/* Windows Title Bar */
.typeWindows-1za-n7>.wordmark-2iDDfm:before {
    content: var(--content-one);
}

.typeWindows-1za-n7>.wordmark-2iDDfm:after {
    content: var(--content-two);
}

/* MacOS Title Bar */
.typeMacOS-3EmCyP:before {
    content: var(--content-one);
}

.typeMacOS-3EmCyP:after {
    content: var(--content-two);
}

/* Under the Status */
.container-3baos1:before {
    content: var(--content-one)
}

.container-3baos1:after {
    content: var(--content-two)
}