:root {
/*         --main-color: #673AB7; */
                --main-color: #4886AC;
/*         --hover-color: #3D1C77; */
                --hover-color: #69ABC8;
        --success-color: #43b581;
        --danger-color: #982929;
        --url-color: var(--main-color);
        /*   --link: url('https://cdn.discordapp.com/attachments/849985559249289248/853228479750602752/anime-girl-cute-eyes_bGlqaWeUmZqaraWkpJRnamtlrWZsZWU.png'); Vampire girl */
        /*   --link: url('https://cdn.discordapp.com/attachments/822413648194437121/853227812026056724/898004.png'); Inpirational girl  */
/*         --link: url('https://cdn.discordapp.com/attachments/849985559249289248/852518506058874891/1914267.png'); Rikka */
                --link: url('https://cdn.discordapp.com/attachments/819097958808420402/854231311660613632/thumb-1920-114938.png');
        /*   --link: url('https://cdn.discordapp.com/attachments/822413648194437121/853238560908115978/thumbbig-1020863.png'); Rikka front facing*/
        --background-image: var(--link);
        --background-shading: 100%;
        --background-position: center;
        --background-size: cover;
        --background-repeat: no-repeat;
        --background-attachment: fixed;
        --background-brightness: 100%;
        --background-contrast: 100%;
        --background-saturation: 100%;
        --background-grayscale: 0%;
        --background-invert: 0%;
        --background-blur: 3px;
        --background-overlay: rgba(0, 0, 0, 0.6);
        /*0.6*/
        --user-popout-image: var(--link);
        --user-popout-position: center;
        --user-popout-size: cover;
        --user-popout-repeat: no-repeat;
        --user-popout-attachment: fixed;
        --user-popout-brightness: 100%;
        --user-popout-contrast: 100%;
        --user-popout-saturation: 100%;
        --user-popout-grayscale: 0%;
        --user-popout-invert: 0%;
        --user-popout-blur: 3px;
        --user-modal-image: var(--link);
        --user-modal-position: center;
        --user-modal-size: cover;
        --user-modal-repeat: no-repeat;
        --user-modal-attachment: fixed;
        --user-modal-brightness: 100%;
        --user-modal-contrast: 100%;
        --user-modal-saturation: 100%;
        --user-modal-grayscale: 0%;
        --user-modal-invert: 0%;
        --user-modal-blur: 3px;
        --home-position: center;
        --home-size: 40px;
        --channel-unread: var(--main-color);
        --channel-color: rgba(255, 255, 255, 0.3);
        --channel-color: rgba(255, 255, 255, 0.1);
        --online-color: #43b581;
        --idle-color: #faa61a;
        --dnd-color: #982929;
        --streaming-color: #593695;
        --offline-color: #808080;
        --main-font: Whitney;
        --code-font: cursive, Consolas;
        --channels-width: 220px;
        --members-width: 240px;
        --backdrop-overlay: rgba(0, 0, 0, 0.8);
        --backdrop-image: var(--background-image);
        --backdrop-position: var(--background-position);
        --backdrop-size: var(--background-size);
        --backdrop-repeat: var(--background-repeat);
        --backdrop-attachment: var(--background-attachment);
        --backdrop-brightness: var(--background-brightness);
        --backdrop-contrast: var(--background-contrast);
        --backdrop-saturation: var(--background-saturation);
        --backdrop-invert: var(--background-invert);
        --backdrop-grayscale: var(--background-grayscale);
        --backdrop-sepia: var(--background-sepia);
        --backdrop-blur: var(--background-blur);
        --bd-blue: var(--main-color);
        --bd-blue-hover: var(--hover-color);
        /*   --home-icon: none; */
        --bd-blue-active: var(--hover-color);
    }
